body {
    background-image: url("https://images.unsplash.com/photo-1506555191898-a76bacf004ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    display: flex;

}

@font-face {
    font-family: "BungeeShade";
    src: url("./font.ttf")
}

.sidebar {
    background: black;
    opacity: 95%;
    height: 100%;
    width: 500px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;

}

h1 {
    font-family: "BungeeShade";
    color: blueviolet;
    text-align: center;
    font-size: 8rem;
    
}

/* .main {

} */