body {
    background-image: url("https://images.unsplash.com/photo-1506555191898-a76bacf004ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5vw;
    


}

@font-face {
    font-family: "BungeeShade";
    src: url("./font.ttf")
}

.sidebar {
    background: black;
    opacity: 93%;
    height: 100vh;
    width: 35vw;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    border-radius: 0px 150px 150px 0px;
    grid-column-start: 1;

}

h1 {
    font-family: "BungeeShade";
    color: blueviolet;
    text-align: center;
    font-size: 7rem;
    animation: 0.3s linear slideInFromLeft;
    
}

h2{
    font-family: "BungeeShade";
    color: peru;
    text-align: center;
    font-size: 5.5rem;
    animation: 0.5s linear slideInFromLeft;
}

.main {
    background: paleturquoise;
    grid-column-start: 2;
    height: 90vh;
    align-self: center;
    margin: 10px;
}

h3{
    font-style: italic;
    font-size: 2em;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: 0.5s linear slideInFromTop;
    padding: 30px;
}

section {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 100px;
    
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100vh);

    }
    to {
        transform: translateX(0vh);
    }
}



@keyframes slideInFromTop {
    from {
        transform: translateY(-50vh);

    }
    to {
        transform: translateY(0vh);
    }
}

@keyframes slideInFromBottomRight {
    from {
        transform: translate(100vh, 100vh);

    }
    to {
        transform: translate(0vh, 0vh);
    }
}

@keyframes slideInFromTopLeft {
    from {
        transform: translate(-100vh, -100vh);

    }
    to {
        transform: translate(0vh, 0vh);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(50vh);

    }
    to {
        transform: translateY(0vh);
    }
}



input {
    border-radius: 8px;
    border-width: 3px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rebeccapurple;
}

/* input:not(:active):valid {
    border-color: green;
} */

input:not(:placeholder-shown):invalid {
    border-color: red;
}

button{
    border-radius: 8px;
    display:flex;
    align-self: center;
    padding: 20px 30px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    animation: 0.3s linear slideInFromBottom;
 
}

button:hover{
    background-color: rgba(5, 145, 121, 0.548);
}

button:focus{
    border-width: 3px;
    border-color: rebeccapurple
}

#name {
    animation: 0.7s linear slideInFromBottomRight;
}


#emails {
    animation: 0.5s linear slideInFromLeft;
}


#dobAndLink{
    animation: 0.7s linear slideInFromTopLeft;
}